<h1>Editing <%= @movie.name %></h1>

<%= form_with(model: @movie) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description, rows: 5 %>

  <%= form.label :total_gross %>
  <%= form.number_field :total_gross %>

  <%= form.label :released_on %>
  <%= form.date_select :released_on %>

  <%= form.label :rating %>
  <%= form.text_field :rating %>

  <%= form.submit %>
<% end %>